* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  box-shadow: 0 1px 1px #a3a3a3;
  overflow: hidden;
}
nav {
  margin: 0 1rem;
}

nav ul {
  list-style: none;
  float: left;
}
nav ul li {
  display: inline-block;
}
nav a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #4c4b4b;
}
nav .action-links {
  float: right;
}

.action-links a {
  color: #1466f2;
}
.action-links .btn-signup {
  background-color: #1466f2;
  color: white;
  text-transform: uppercase;
  margin: 0.5rem 0;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 0 0 1px #a3a3a3;
  padding: 0.5rem 1.5rem;
}

main {
  margin: 0 auto;
  padding: 15px 60px;
  background-color: #f6f6f6;
}
.row {
  overflow: hidden;
}
.row .col {
  width: 50%;
  float: left;
}
.hero-content {
  color: #4c4b4b;
  padding: 60px 15px;
}
.hero-content h1 {
  padding: 32px 0;
}
.hero-content h1 span {
  display: block;
  color: #1466f2;
}

/* form */
form {
  width: 100%;
  background-color: white;
  margin: 30px 0;
  padding: 30px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 4px;
  color: #4c4b4b;
}
form input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
form input[type="checkbox"] {
  width: auto;
}
form input[type="submit"] {
  background-color: #1466f2;
  color: white;
}
.w-50 {
  width: 49.5%;
}
.input-group {
  margin-top: 20px;
  text-align: center;
}

.social-links {
  margin-top: 20px;
}
.social-links a {
  display: inline-block;
  padding: 5px 15px;
  font-size: 12px;
  color: #1466f2;
  transition: all 0.5s;
}
.social-links a:hover {
  color: red;
}
