* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  box-shadow: 0 1px 1px #a3a3a3;
  overflow: hidden;
}
nav {
  margin: 0 1rem;
}

nav ul {
  list-style: none;
  float: left;
}
nav ul li {
  display: inline-block;
}
nav a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #4c4b4b;
}
nav .action-links {
  float: right;
}

.action-links a {
  color: #1466f2;
}
.action-links .btn-signup {
  background-color: #1466f2;
  color: white;
  text-transform: uppercase;
  margin: 0.5rem 0;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 0 0 1px #a3a3a3;
  padding: 0.5rem 1.5rem;
}
#hero-banner {
  background-color: #1466f2;
  height: 90vh;
  background-image: url(child.jpg);
  background-size: cover;
}
.hero-banner-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  text-align: center;
  color: white;
}
.hero-banner-overlay h1 {
  font-size: 60px;
  padding-top: 12%;
}
.hero-banner-overlay h1 > span {
  display: block;
}
.hero-banner-overlay a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 15px 30px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 30px;
  border-radius: 5px;
  transition: all 0.5s;
}
.hero-banner-overlay a:hover {
  background-color: white;
  color: #4c4b4b;
}
