<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Layout</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="admin_layout_overlay.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="#"><i class="fa-solid fa-gem"></i></a>
          </li>
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li>
            <a href="#">Team</a>
          </li>
          <li>
            <a href="#">Projects</a>
          </li>
        </ul>

        <div class="action-links">
          <a href="#">Login</a>
          <a class="btn-signup" href="#">Sign up for free</a>
        </div>
      </nav>
    </header>
    <main>
      <section id="hero-banner">
        <div class="hero-banner-overlay">
          <h1>The best offer on the market<span>for your business</span></h1>
          <a href="#">Get Started</a>
        </div>
      </section>
    </main>
  </body>
</html>
