<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css3</title>
    <style>
      div {
        width: 600px;
        height: auto;
        margin: 15px auto;
        border: 2px solid red;
        border-radius: 10px;
      }
      img {
        height: 187px;
        margin-right: 20px;
        float: left;
        border-radius: 7px 0 0 7px;
      }
    </style>
  </head>
  <body>
    <div>
      <img src="../css/cat.PNG" alt="" />
      <h1>Hello World</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
        cupiditate deleniti consectetur doloremque quae porro, vel repudiandae
        cum ex, incidunt illo, accusantium tempore molestias ea architecto
        necessitatibus nobis ipsam reiciendis.
      </p>
    </div>
  </body>
</html>
