<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css</title>
    <style>
      .container {
        border: 1px solid red;
        width: 600px;
        margin: 15px auto;
        height: 220.2px;
      }
      .content {
        width: 60%;
        float: left;
        padding: 15px;
      }
      img {
        width: 35%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>Welcome to Float Layout</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quae
          necessitatibus, cumque a voluptatibus quas laudantium, iure saepe
          recusandae consectetur ducimus totam, fugit repudiandae earum.
          Voluptas, dolor error. Vel, delectus.
        </p>
      </div>
      <img src="cat.PNG" alt="" />
    </div>
  </body>
</html>
