<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>float layout</title>
    <style>
      .container {
        width: 600px;
        height: 160px;
        margin: 0 auto;
        border: 2px solid rgb(224, 25, 25);
        padding: 10px;
      }
      img {
        width: 150px;
        margin-right: 20px;
        float: left;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="../css/cat.PNG" alt="" />
      <h1>Hello World</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quae
        velit aliquam facilis quis ea nostrum, ullam, corporis, deserunt tempore
        animi totam iusto cum mollitia? Ipsam voluptatem ad voluptatum natus.
      </p>
    </div>
  </body>
</html>
