<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="signin.css" />
  </head>
  <body>
    <div class="signin">
      <form action="#">
        <input type="email" placeholder="Email Address" />
        <input type="password" placeholder="Password" />
        <div class="input-group">
          <input type="checkbox" id="remember" />
          <label for="remember">Remember Me</label>
          <a href="#">Forgot password?</a>
        </div>

        <button>Sign In</button>
      </form>

      <div class="register">
        <span>Not a member</span>
        <a href="#">Register</a>
      </div>
      <div class="signup-with-social">
        <span>Or sign in with</span>
        <div class="social-icons">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-google"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
