<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css3</title>
    <style>
      * {
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      header .top-header {
        padding: 15px;
        background-color: tomato;
      }
      nav {
        background-color: #ccc;
        max-width: 300px;
        padding: 15px;
        height: 93vh;
        transform: translateX(-300px);
        transition: all 1s;
      }
      header:hover nav {
        transform: translate(0px);
      }
    </style>
  </head>
  <body>
    <header>
      <div class="top-header">header</div>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Home</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
