* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: pink;
  text-align: center;
  padding: 1rem;
  font-size: 42px;
}

nav {
  background-color: rgb(27, 66, 27);
  text-align: center;
}
nav a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 8px 20px;
}
main {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

main section {
  width: 70%;
  padding: 20px;
}
main aside {
  width: 30%;
  padding: 20px;
  background-color: rgb(27, 66, 27);
  color: white;
}
main h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
p {
  line-height: 1.6;
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
    gap: 20px;
    width: 94;
  }
  main section,
  main aside {
    width: 100%;
  }
  header {
    font-size: 32px;
  }
  nav a {
    padding: 5px 10px;
    font-size: 14px;
  }
}
